<h2>Users</h2>

<h3><a [routerLink]="['add']">Add new user</a></h3>
<table border="2">
    <thead>
    <th>Login</th>
    <th>Role</th>
    <th>Actions</th>
    </thead>
    <tbody id="tableBody" >
    <tr *ngFor="let user of users" (click)="onSelect(user)" [class.selected]="user === selectedUser">
        <td> {{user.login}}</td>
        <td> {{user.role.name}}</td>
        <td>
            <button (click)="remove(user); $event.stopPropagation()">Delete</button>
            <button (click)="edit(user)">Edit</button>
        </td>
    </tr>
    </tbody>
</table>
<div  *ngIf="selectedUser">
    <user-detail [user]="selectedUser"></user-detail>
</div>