<div *ngIf="user">
    <h2>{{user.login}} details:</h2>
    <form (ngSubmit)="save()" #userForm="ngForm">
        <div class="form-group">
            <label for="login">login: </label>
            <input type="text" [(ngModel)]="user.login" id="login" name="login" placeholder="login" [readonly]="isReadonly" required #login="ngModel" class="form-control"/>
            <div [hidden]="login.valid || login.pristine" class="alert alert-danger">
                Login is required
            </div>
        </div>
        <div class="form-group">
            <label for="password">password: </label>
            <input type="password" [(ngModel)]="user.password" id="password" name="password" placeholder="password" required #password="ngModel" class="form-control"/>
            <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>
        <div class="form-group">
            <label for="password-repeat">password repeat: </label>
            <input type="password" [(ngModel)]="user.password_repeat" id="password-repeat" name="password-repeat" placeholder="password" required #passwordRepeat="ngModel" class="form-control"/>
            <div [hidden]="passwordRepeat.valid || passwordRepeat.pristine" class="alert alert-danger">
                Password is required
            </div>
        </div>
        <div class="form-group">
            <label for="email">email: </label>
            <input type="email" [(ngModel)]="user.email" id="email" name="email" placeholder="email" required #email="ngModel" class="form-control"/>
            <div [hidden]="email.valid || email.pristine" class="alert alert-danger">
                Email is required
            </div>
        </div>
        <div class="form-group">
            <label for="role">role: </label>
            <select id="role" (change)="onRoleSelect($event.target.value)" required name="role" class="form-control">
                <option [ngValue]="role" *ngFor="let role of roles" [selected]="user.role.name== role.name">
                    {{role.name}}
                </option>
            </select>
        </div>
        <button class="btn btn-default" (click)="goBack()">Cancel</button>
        <button class="btn btn-success" class="btn btn-success" [disabled]="!userForm.form.valid" (click)="save()">Save</button>
    </form>
</div>