<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security.xsd">
    <http auto-config="true" use-expressions="true">
        <intercept-url pattern="/admin/**" access="hasAnyRole('ROLE_admin')"/>
        <intercept-url pattern="/admin/add/**" access="hasRole('ROLE_admin')"/>
        <intercept-url pattern="/admin/edit/**" access="hasRole('ROLE_admin')"/>
        <intercept-url pattern="/admin/delete/**" access="hasRole('ROLE_admin')"/>
        <!--intercept-url pattern="/api/**" access="hasRole('admin')" /-->
        <intercept-url pattern="/user/**" access="hasAnyRole('ROLE_user', 'ROLE_admin')"/>

        <form-login login-page="/log" default-target-url="/" authentication-failure-url="/log?error"
                    username-parameter="username" password-parameter="password"/>
        <logout logout-success-url="/log"/>
    </http>
    <authentication-manager>
        <authentication-provider user-service-ref="userDetailsServiceImpl"/>
    </authentication-manager>
</beans:beans>